<launch>
	<!-- Include turtle_way node with plot -->
	<include file="$(find tsim)/launch/turtle_pent.launch">
	<arg name="plot_gui" value="True"/>
	</include> 

	<!-- Include diff drive viewer without joint state publisher -->
	<include file="$(find nuturtle_description)/launch/view_diff_drive.launch">
	<arg name="js_pub" value="False" />
	</include> 

	<!-- Fake Encoders Node -->
	<node name="fake_diff_encoders_node" pkg="rigid2d" type="fake_diff_encoders_node"/>

	<!-- Odometer Node -->
	<node name="odometer_node" pkg="rigid2d" type="odometer_node"/>

</launch>